.App {
  text-align: center;
  background: whitesmoke;
}

form {
  border: 1px solid black;
  max-width: 400px;
  margin: auto;
  padding: 1rem;
  background: whitesmoke;
  border-radius: 12px;
}

input,
option,
select {
  margin: 0.5rem;
  margin-bottom: 1.2rem;
  padding: 0.3rem;
  background: whitesmoke;
}
option {
  background: rgba(255, 0, 0, 0.664);
}

label,
textarea {
  margin: 0.2rem;
  padding: 0.1rem;
  background: whitesmoke;
}
button {
  padding: 0.5rem;
  border-radius: 7px;
  background: rgba(255, 0, 0, 0.637);
}
